body {
	background: #114454;
	font-family:arial, helvetica, sans-serif;
	font-size: 16px;
}

a {
	color: #94BF6E;
}

header {
	color: #94BF6E;
	display: flex;
	justify-content: flex-start;
	background: #0E3142;
}

section {
	color: black;
	display: flex;
	justify-content: center;
	
}
article h2 {
	
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}