body {
	
	background: #FFFFFF;
	font-family:arial, helvetica, sans-serif;
	font-size: 16px;
	
}

a {
	display: :flex;
	justify content: space-around;
	color: #0AF3FB;
}


header {
	color: #B6E548;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background: #0092B2;
	font-size: 18px;
	padding: 1rem;
}

 .logo img {
 	padding-right: 1em;
 	border-right:2px solid white;
	width:60px;
	height:60px;
}
section article img {
	width: 100px;
}
section {
	color: black;
	display: flex;
	margin-top: 6rem;
	flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
}
	
section article {
	border:1px  solid #0092B2;
}

footer {
	margin-top: 6rem;
	color: #0092B2;
	display: flex;
}

h2 {
	display: flex;
	justify-content: center;
	border-bottom: 5px solid #0092B2;
}
